/* html {
  /* 62.5% of 16px user agent font size is 10px 
  font-size: 62.5%;
} */
header{
  border: 1px solid rgb(140, 45, 228);
  /* background: rgb(140, 45, 228); */
  background-image:
    linear-gradient(183deg, rgba(23,3,93,1) 4%, rgb(224, 26, 214) 50%, rgba(29,4,76,1) 96%);
}
footer{
  border-top: 1px solid rgb(76,27,133,0.5);
  text-align: center;
  color: #888;
  padding-top: 10px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.color-search-header{
  color: black;
}
#search-name{
  font-size:18px;
  height: 30px;
  width: 260px;
  border-radius: 10px;
}
.title-header{
  color: #fefefe;
  font-size: 18px;
}
.container{
  display: flex;
  margin: 10px;
}
.frame-left{
  padding: 10px 20px 0 10px;
  text-align: center;
  height: 100vh;
  border: 1px solid rgb(140, 45, 228);
  border-radius: 8px;
  width: 20%;
  box-shadow: 0 3px 10px rgb(140, 45, 228,0.4);
  margin-right: 10px;
}
.box-item{
  display: flex;  
  gap: 20px;
  flex-direction: column; 
  text-align: left;
  cursor: pointer;

}
.large-icon{
  font-size: 24px;
}
.heading-product,
.heading-user {
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
}
.frame-right{
  margin: 10px;
  width: 80%;
}
.loading{
  display: block;

}
.modal-view-details-product,
.form-edit-product,
.modal-view-details-product{
  display: none;
}
#form{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.form-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  max-width: 500px; /* Added to limit maximum width of the modal */
}
.box-product{
  display: none;
  width: 100%;
}
.user-card,
.product-card{
  border: 1px solid rgb(128, 128, 128, 0.4);
  border-radius: 6px;
  padding: 20px;
}

.product-card:hover img{
  transform: scale(1.1);
}
.user-card:hover,
.user-card:focus,
.product-card:hover,
.product-card:focus{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.user-image,
.product-image{
  height: auto;
  width: 200px;
}

.user-list,
.product-list{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.box-user{
  display: none;
}
button{
  border-radius: 6px;
  border: 1px;
  padding: 10px 10px;
}
.color {
  color: blueviolet;
}
button:hover,
button:focus {
  color: rgb(138, 43, 226);
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(138, 43, 226,0.25);

}
.functional-user,
.functional-product{
  display: flex; 
  gap: 20px;
  margin-bottom: 20px;
  align-items: baseline;
  align-items: center;
  justify-content:space-evenly;
}
.content-functional-user,
.content-functional-product{
  border: 1px solid gray;
  border-radius: 6px;
  display: none;
  margin-bottom: 20px;
  padding: 20px;
}

/*  */
.modal-view-details-user,
.form-edit-user,
.form-create-user{
  display: none;
}
input{
  border: 1px solid gray;
  border-radius: 4px;
  size: large;
  font-size: 16px;
}
/* input-search-product */
.input-search-user,
.input-search-product{
  position: relative;
}
.input-search-user input,
.input-search-product input {
  padding-right: 30px; /* Để tạo không gian cho biểu tượng */
}
.input-search-user i,
.input-search-product i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}